<!--Ten wzornik służy tłumaczom do wysyłania kawałków tekstu.-->
{% extends 'base.html' %}
{% load staticfiles %}
{% load xfilters %}

{% block title %}
<title>{{ link.2 }}</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne.-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
 {% include 'menus/translator_menus.html' %} <!-- Menu z opcjami użytkownika -->
{% endblock menu %}

{% block body %}
  <!--Ten kawałek tłumaczy: Po lewej z języka, po prawej na język.-->
{% for form in forms %}
  <form class="serialform" method="post">
    {% csrf_token %}
    {% with forloop.counter0 as x %}
     <p>{{ trans_from_list|lookup:x }} : {{ form|lookup:trans_to_list }}</p>
    {% endwith %}
  </form>
{% endfor %}
<button id="sendtrans">Wyślij</button>


{% endblock body %}

{% block scripts %}
<script src="{% static "sendallforms.js" %}"></script>
{% endblock %}
<!--<input type="submit" class="button" name="sendtrans" value="Wyślij"></input>-->
{% block scripts2 %}

{% endblock %}
