<!-- Goły panel tłumacza. Na początku nic się nie wyświetla. A mogłoby -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Panel Tłumacza</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
  {% include 'menus/translator_menus.html' %} <!-- Menu z opcjami użytkownika -->
{% endblock menu %}

{% block body %}
 <!-- Tu mają się wyświetlać dane z różnych opcji po kliknięciu -->
{% endblock body %}


{% block scripts %}
{% endblock %}
{% block scripts2 %}
{% endblock %}
