<!-- Strona wyboru domyślnego języka tłumaczeń. Obowiązkowa dla tłumacza. -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load xfilters %}

{% block title %}
<title>Panel Tłumacza</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
  {% include 'menus/translator_menus.html' %} <!-- Menu z opcjami Tłumacza -->
{% endblock menu %}

{% block body %}<!-- Flagi z wyborem języka. As obvious as it is.-->
 <h4>Ustaw język na który będziesz tłumaczyć:</h4>
 <br>
 <p>
    <img id="en" src="{{ flagsobjects.lang_flag_en.url }}"height="20" width="35"/>
    <img id="de" src="{{ flagsobjects.lang_flag_de.url }}"height="20" width="35"/>
    <img id="fr" src="{{ flagsobjects.lang_flag_fr.url }}"height="20" width="35"/>
    <img id="ru" src="{{ flagsobjects.lang_flag_ru.url }}"height="20" width="35"/>
    <img id="uk" src="{{ flagsobjects.lang_flag_uk.url }}"height="20" width="35"/>
    <img id="es" src="{{ flagsobjects.lang_flag_es.url }}"height="20" width="35"/>
    <img id="hi" src="{{ flagsobjects.lang_flag_hi.url }}"height="20" width="35"/>
 </p>
 <br>
 <br>
 {% for flag in flags %}
  {% with lookedupflags=flagsobject|lookup:flag %}
    <img id="en" src="{{ lookedupflags.url }}"height="20" width="35"/>
  {% endwith %}
 {% endfor %}

  {% if user.language != '' %}
  <h3>Tłumaczysz na język:</h3>
  <img id="en" src="{{ flagsobjects.lang_flag_en.url }}"height="20" width="35"/>
 {% endif %}

{% endblock body %}


{% block scripts %}
{% endblock %}
{% block scripts2 %}
{% endblock %}
