{% load xfilters %}

<div class="nav-side-menu">
  <div class="brand">{{ menu.0 }}</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a href="#">{{ link.0 }}</a><!--Poczta-->
          </li>
          <li>
            <a href="{% url 'allparties' %}"> {{ link.1 }} </a><!--Akcje Kwaterunkowe-->
          </li>
          <li data-toggle="collapse" data-target="#products" class="collapsed active">
            <a href="#">{{ link.2 }}</a><!--Zarządzaj stroną-->
          </li>
            <ul class="sub-menu collapse" id="products">
                <li><a href="{% url 'allblogs' %}">{{ link.3 }}</a></li>
                <li><a href="{% url 'allinfos' %}">{{ link.4 }}</a></li>
                <li><a href="{% url 'allfiles' %}">{{ link.5 }}</a></li>
            </ul>
  <div class="brand">{{ menu.1 }}</div>
          <li>
            <a href="{% url 'allapplied' %}">{{ link.6 }}</a><!--Lista Wniosków-->
            <!-- Tylko dla Szefa Rady -->
            {% if user.role_council > 2 %}
  <div class="brand">{{ menu.2 }}</div>
          <li>
            <a href="{% url 'makemeparty' %}">{{ link.7 }}</a><!--Stwórz Akcję Kwaterunkową-->
          </li>
          <li>
            <a href="{% url 'allusers' %}">{{ link.8 }}</a><!--Wszyscy Użytkownicy-->
          </li>
          {% endif %}
        </ul>
   </div>
</div>
<br>
