{% load xfilters %}

<div class="nav-side-menu">
  <div class="maintitle">{{ menu|setmenuadder }}</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a href="#">{{ link|setlinkadder }}</a><!--Poczta-->
          </li>
          <li>
            <a href="{% url 'allparties' %}"> {{ link|linkadder }} </a><!--Akcje Kwaterunkowe-->
          </li>
          <li data-toggle="collapse" data-target="#products" class="collapsed active">
            <a href="#">{{ link|linkadder }}</a><!--Zarządzaj stroną-->
          </li>
            <ul class="sub-menu collapse" id="products">
                <li><a href="{% url 'allelements' %}">{{ link|linkadder }}</a></li> <!-- Aktualności -->
                <li><a href="{% url 'allinfos' %}">{{ link|linkadder }}</a></li> <!-- Informacje -->
                <li><a href="{% url 'allfiles' %}">{{ link|linkadder }}</a></li> <!-- Pliki -->
            </ul>
  <div class="maintitle">{{ menu|menuadder }}</div>
          <li>
            <a href="{% url 'allapplied' %}">{{ link|linkadder }}</a><!--Lista Wniosków-->
            <!-- Tylko dla Szefa Rady -->
            {% if user.role_council > 2 %}
          </li>
  <div class="maintitle">{{ menu|menuadder }}</div>
          <li>
            <a href="{% url 'makemeparty' %}">{{ link|linkadder }}</a><!--Stwórz Akcję Kwaterunkową-->
          </li>
          <li>
            <a href="{% url 'allusers' %}">{{ link|linkadder }}</a><!--Wszyscy Użytkownicy-->
          </li>
          {% endif %}
        </ul>
   </div>
</div>
<br>
