<div class="nav-side-menu">
  <div class="brand">MENU ADMINISRACJI</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a href="#">NOCLEGI</a><!--Natalia-->
          </li>

          <li>
            <a href="{% url 'dsapply' %}">MOJE DANE</a> <!--Wniosek o DS-->
          </li>
          <li>
            <a href="">USTAWIENIA</a><!--Szczegóły pokoju-->
          </li>
          <li><a href="">MOJE REZERWACJE</a><!--Preferencje pokoju0-->
          </li>

          <li><a href="{% url 'userdatapersonal' %}">MOJE DANE</a><!--Profil Użytkownika-->
          </li>
        </ul>
  </div>
</div>
