
<!--  MENU WERSJA 2 -->
<div class="row float-left">
<div class="column">
    <div class="cardo sidem float-left" width= "250">
        <p class="head-cardo">MENU ADMINISRACJI</p>
        <p class="head-foot"><a href="#">NOCLEGI</a></p>
        <p class="head-foot"><a href="#">MOJE DANE</a></p>
        <p class="head-foot"><a href="#">USTAWIENIA</a></p>
        <p class="head-foot"><a href="#">MOJE REZERWACJE</a></p>
        <p class="head-foot"><a href="{% url 'userdatapersonal' %}">MOJE DANE</a></p>
    </div>
</div>
</div>
<!--  KONIEC MENU WERSJA 2 -->
