<!-- Fragment generujący menu z podpunktami dla Panelu Usera. Rozszerzaj dodając Divy -->
<div class="nav-side-menu">
  <div class="brand">{{ menu.0 }}</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a href="{% url 'elementstranslate' %}">{{ link.0 }}</a> <!--Tłumacz Elementy-->
          </li>
        </ul>
  </div>
</div>
<br>
