{% load xfilters %}

<div class="nav-side-menu">
  <div class="maintitle">{{ menu|setmenuadder }}</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a href="#">{{ link|setlinkadder }}</a><!--Natalia-->
          </li>
          <li>
            <a href="#"> {{ link|linkadder }} </a> <!--Poczta-->
          </li>

          <li>
            <a href="{% url 'dsapply' %}">{{ link|linkadder }}</a> <!--Wniosek o DS-->
          </li>
          <li>
            <a href="">{{ link|linkadder }}</a><!--Szczegóły pokoju-->
          </li>
          <li><a href="">{{ link|linkadder }}</a><!--Preferencje pokoju0-->
          </li>
          <li><a href="">{{ link|linkadder }}</a><!--Lista Wniosków-->
          </li>
          <li><a href="{% url 'userdatapersonal' %}">{{ link|linkadder }}</a><!--Profil Użytkownika-->
          </li>
        </ul>
  </div>
</div>
<br>
<br>
