<!--  MENU WERSJA 2 -->
<div class="row float-left">
<div class="column">
    <div class="card sidem float-left" width= "250">
        <p class="head-card">{{ menu.0 }}</p>
        <p class="head-foot">{{ link.0 }}</p><!--Natalia-->
        <p class="head-foot">{{ link.1 }}</p><!--Poczta-->
        <p class="head-foot"><a href="{% url 'dsapply' %}">{{ link.2 }}</a></p><!--Wniosek o DS-->
        <p class="head-foot">{{ link.3 }}</p><!--Szczegóły pokoju-->
        <p class="head-foot">{{ link.4 }}</p><!--Preferencje pokoju0-->
        <p class="head-foot">{{ link.5 }}</p><!--Lista Wniosków-->
        <p class="head-foot"><a href="{% url 'userdatapersonal' %}">{{ link.6 }}</a></p><!--Profil Użytkownika-->
    </div>
</div>
</div>
<!--  KONIEC MENU WERSJA 2 -->
