{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Wszystkie informacje - Roboczy</title>
{% endblock %}

 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}

    <main role="main">
      <div class="row">
        <div class="container">
        {% for info in infos %}
          <hr class="featurette-divider">
           <div class="row featurette">
             <div class="col-md-5">
               {% if info.image %}
               <!-- Jeśli nie ma obrazka zwróć default ze skórki Usera -->
               <a href="{% url 'info' info.id %}"><img class="img-fluid" src="{{ info.image.url }}" /></a>
               {% else %}
               <a href="{% url 'info' info.id %}"><img class="img-fluid" src="{{ skin.infoimagedefault.url }}" /></a>
               {% endif %}
             </div>
             <div class="col-md-7">
               <a href="{% url 'info' info.id %}"><h2 class="featurette-heading">{{ info.title }}</h2></a> <h5 class="text-muted">{{ info.pubdate_short }}</h5>
               <p class="lead">{{ info.summary }}</p> <a href="{% url 'info' info.id %}">Czytaj dalej...-roboczy</a>
             </div>
           </div>
        {% endfor %}
        </div>
      </div><!-- /.row -->

    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
    <!-- end of empty div -->
{% endblock %}
{% endblock aside %}
