{% extends 'base.html' %}
{% load staticfiles %}

<!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}
<br>
<div class="alert alert-primary alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
    <img width=100% src="{{ skins.welcomebanner.url }}" class="img-fluid" >
</div>

<!-- POCZĄTEK AKTUALNÓŚĆ -->
<h3 class="font-weight-bolder">{{ items.news }}</h3>
<div class="row">

{% for blog in blogs|slice:":3" %}
<!-- Iterator aktualności 1-3 -->
{% if blog %}


<div class="col-md-3 shdwn">
    <div class="col">
        {% if blog.image %}
        <!-- Jeśli nie ma obrazka zwróć default ze skórki Usera -->
        <a href="{% url 'blog' blog.id %}"><img class="imgshdw float-left img-fluid" src="{{ blog.image.url }}" /></a>
        {% else %}
        <a href="{% url 'blog' blog.id %}"><img class="imgshdw float-left img-fluid" src="{{ skin.blogimagedefault.url }}" /></a>
        {% endif %}
        <div class="desc ">
            <h4 class="head-news"><a href="{% url 'blog' blog.id %}">{{ blog.title }}</a></h4>
            <!-- <p>{{ blog.summary }}</p>  nie wiem czy to jest potzebne-->
        </div>
    </div>
</div>
<!--text-->
{% endif %}
{% endfor %}
<!-- Koniec iteratora aktualności 1-3 -->

{% if blogs.3 %}
<!--- DODATKOWY BLOG -->
  <div class="col-md-3 shdwn">
      <div class="col">
          {% if blogs.3.image %}
           <!-- Jeśli nie ma obrazka zwróć default ze skórki Usera -->
           <a href="{% url 'blog' blogs.3.id %}"><img class="imgshdw float-left img-fluid" src="{{ blogs.3.image.url }}"  /></a>
          {% else %}
           <a href="{% url 'blog' blog.id %}"><img class="imgshdw float-left img-fluid" src="{{ skin.blogimagedefault.url }}" /></a>
          {% endif %}
          <div class="desc">
              <h4 class="head-news"><a href="{% url 'blog' blogs.3.id %}">{{ blogs.3.title }}</a></h4>
          </div>
      </div>
  </div>



{% endif %}
<!-- Koniec dodatkowego bloga -->
</div>
<!-- BUTTON -->
<button type="button" class="btn-sm btn-outline-warning float-right view">
     <a href="{% url 'allblogs' %}">ZOBACZ WIĘCEJ >>> </a>
</button>
<!--KONIEC BUTTONA -->
<!-- KONIEC AKTUALNOŚCI -->

<!-- PUSTY DIV  -->
<div class="row">
    <div class="col-sm-12 text wow fadeInLeft"></div>
</div>
<!-- KONIEC PUSTY DIV  -->

<div class="row float-center">
    <div class="column">
        <div class="cardo cardos">
            <img src="{{ skins.filesideimage.url }}" class="img-fluid cardos">
        </div>
    </div>
    <div class="column">
        <div class="cardo">
            <p class="head-cardo">WAŻNE DOKUMENTY - roboczy</p>
            {% for file in files %}
             <p class="head-foot"><a href="{{ file.file.url }}">{{ file.title }}</a></p>
            {% endfor %}
        </div>
    </div>
    <div class="column">
        <div class="cardo cardos">
            <img src="{{ skins.infosideimage.url }}" class="img-fluid cardos" >
        </div>
    </div>
    <div class="column">
        <div class="cardo">
            <p class="head-cardo">INFORMACJE - roboczy</p>
            {% for info in infos %}
             <p class="head-foot"><a href="{% url 'info' info.id %}">{{ info.title }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
{% endblock aside %}
