{% extends 'base.html' %}
{% load staticfiles %}

<!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}
<br>
<br>
<br>
<div class="alert alert-primary alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>

    <picture>
      <source srcset="https://files.tinypic.pl/i/00989/bibk9fta34ey.png" media="(max-width: 600px)">
      <source srcset="https://images.tinypic.pl/i/00989/qhnw55pqojps.png">
      <img width="100%" src="https://images.tinypic.pl/i/00989/qhnw55pqojps.png" alt="Flowers" class="alerta img-fluid">
    </picture>
</div>

<!-- POCZĄTEK AKTUALNÓŚĆ -->
<h3 class="font-weight-bolder">{{ items.news }}</h3>
<div class="row">

{% for blog in blogs|slice:":3" %}
<!-- Iterator aktualności 1-3 -->
{% if blog %}


<div class="col-md-3 shdwn">
    <div class="col">
        {% if blog.image %}
        <!-- Jeśli nie ma obrazka zwróć default ze skórki Usera -->
        <a href="{% url 'blog' blog.id %}"><img class="imgshdw float-left img-fluid" src="{{ blog.image.url }}" /></a>
        {% else %}
        <a href="{% url 'blog' blog.id %}"><img class="imgshdw float-left img-fluid" src="{{ skin.blogimagedefault.url }}" /></a>
        {% endif %}
        <div class="desc ">
            <h4 class="head-news"><a href="{% url 'blog' blog.id %}">{{ blog.title }}</a></h4>
            <!-- <p>{{ blog.summary }}</p>  nie wiem czy to jest potzebne-->
        </div>
    </div>
</div>
<!--text-->
{% endif %}
{% endfor %}
<!-- Koniec iteratora aktualności 1-3 -->

{% if blogs.3 %}
<!--- DODATKOWY BLOG -->
  <div class="col-md-3 shdwn">
      <div class="col">
          {% if blogs.3.image %}
           <!-- Jeśli nie ma obrazka zwróć default ze skórki Usera -->
           <a href="{% url 'blog' blogs.3.id %}"><img class="imgshdw float-left img-fluid" src="{{ blogs.3.image.url }}"  /></a>
          {% else %}
           <a href="{% url 'blog' blog.id %}"><img class="imgshdw float-left img-fluid" src="{{ skin.blogimagedefault.url }}" /></a>
          {% endif %}
          <div class="desc">
              <h4 class="head-news"><a href="{% url 'blog' blogs.3.id %}">{{ blogs.3.title }}</a></h4>
          </div>
      </div>
  </div>



{% endif %}
<!-- Koniec dodatkowego bloga -->
</div>
<!-- BUTTON -->
<button type="button" class="btn-sm btn-outline-warning float-right view">
     <a href="{% url 'allblogs' %}">ZOBACZ WIĘCEJ >>> </a>
</button>
<!--KONIEC BUTTONA -->
<!-- KONIEC AKTUALNOŚCI -->

<!-- PUSTY DIV  -->
<div class="row">
    <div class="col-sm-12 text wow fadeInLeft"></div>
</div>
<!-- KONIEC PUSTY DIV  -->

<div class="row float-center">
    <div class="column">
        <div class="cardo cardos">
            <img src="https://files.tinypic.pl/i/00987/bs9sqh7nh5y0.jpg" class="img-fluid cardos">
        </div>
    </div>
    <div class="column">
        <div class="cardo">
            <p class="head-cardo">WAŻNE DOKUMENTY</p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Formularz rejstracyjny</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Wzór podania</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Wniosek akomodacyjny</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Wzór formularza</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Karta studenta</a></p>
        </div>
    </div>
    <div class="column">
        <div class="cardo cardos">
            <img src="https://pics.tinypic.pl/i/00987/mq8mztkye64g.jpg" class="img-fluid cardos" >
        </div>
    </div>
    <div class="column">
        <div class="cardo">
            <p class="head-cardo">INFORMACJE</p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Regulamin </a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Plan akademika</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Regulaminu rekrutacji</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Kalendarz</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Szczegóły rekrutacji 2019</a></p>
        </div>
    </div>
</div>

{% endblock %}
{% endblock aside %}
