{% extends 'base.html' %}
{% load staticfiles %}

<!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}
<br>
<div class="alert alert-primary alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
    <img width=100% src="https://images.tinypic.pl/i/00989/zt0xvyfot0su.png" class="img-fluid" >
</div>


<!-- BUTTON -->
<button type="button" class="btn-sm btn-outline-warning float-right view">
     <a href="">ZOBACZ WIĘCEJ >>> </a>
</button>
<!--KONIEC BUTTONA -->
<!-- KONIEC AKTUALNOŚCI -->

<!-- PUSTY DIV  -->
<div class="row">
    <div class="col-sm-12 text wow fadeInLeft"></div>
</div>
<!-- KONIEC PUSTY DIV  -->

<div class="row float-center">
    <div class="column">
        <div class="cardo cardos">
            <img src="https://files.tinypic.pl/i/00987/bs9sqh7nh5y0.jpg" class="img-fluid cardos">
        </div>
    </div>
    <div class="column">
        <div class="cardo">
            <p class="head-cardo">WAŻNE DOKUMENTY</p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Formularz rejstracyjny</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Wzór podania</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Wniosek akomodacyjny</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Wzór formularza</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Karta studenta</a></p>
        </div>
    </div>
    <div class="column">
        <div class="cardo cardos">
            <img src="https://pics.tinypic.pl/i/00987/mq8mztkye64g.jpg" class="img-fluid cardos" >
        </div>
    </div>
    <div class="column">
        <div class="cardo">
            <p class="head-cardo">INFORMACJE</p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Regulamin </a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Plan akademika</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Regulaminu rekrutacji</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Kalendarz</a></p>
            <p class="head-foot"><a href="https://www.ichip.pw.edu.pl/sites/default/files/files/Regulamin_DS.pdf">Szczegóły rekrutacji 2019</a></p>
        </div>
    </div>
</div>

{% endblock %}
{% endblock aside %}
