<!--Tutaj userzy widzą mapę strony a Rada Studentów ma wejście na dodawanie/edycję jej poszczególnych elementów-->
{% extends 'base.html' %}
{% load staticfiles %}

<!--Schemat:
Nazwa zbioru elementów/linkdozbioru/
[rada-dodaj nowu element tego typu]
skrócony zbiór elementów w punktach(tytuły)/linki/[rada-edytuj/usuń]

kolejny zbiór tego typu etc.
  -->

{% block title %}
<title>PANEL RADY</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
<!--Null-->
{% endblock aside %}

{% block menu %}
{% endblock menu %}

{% block body2 %}
 <!-- Tu mają się wyświetlać dane z różnych opcji po kliknięciu -->
 <p>Tymczasowy przełącznik - widok serwisowy</p>

 <main role="main" class="container">
   <div class="row mapsite no-gutters ">

     <div class="col-lg-4 ">

      <h4 class="maphead mapsitepliki">AKTUALNOŚCI</h4>
      {% if user.role_council > 1 %}
      <br>
       <button><a class="btn btn-light" href="{% url 'make_element' 'blog' %}">DODAJ WPIS W AKTUALNOŚCIACH</a></button>
       <br>
       <br>
      {% endif %}
      <ul class="maplist">
      {% for blog in blogs %}
       <li><a class="maplink" href="{% url 'blog' blog.id %}">{{ blog.title }}!</a>
       {% if user.role_council > 1 %}
        <button><a class="btn btn-light" ref="{% url 'change_element' 'blog' blog.id %}">EDYTUJ</a></button>
       {% endif %}
       </li>
      {% endfor %}
      </ul>
    </div><!--End column1-->

  <div class="col-lg-4 mapsiteinfo">

   <h4 class="maphead mapsiteinfo">INFORMACJE</h4>
   {% if user.role_council > 1 %}
   <br>
    <button><a class="btn btn-light" href="{% url 'make_element' 'info' %}">NOWA INFORMACJA </a></button>
    <br>
    <br>
   {% endif %}
   <ul class="maplist">
    {% for info in infos.all %}
     <li><a class="maplink" href="{% url 'info' info.id %}">{{ info.title }}!  </a>
     {% if user.role_council > 1 %}
      <button><a class="btn btn-light" href="{% url 'change_element' 'info' info.id %}">EDYTUJ</a></button>
     {% endif %}
     </li>
    {% endfor %}
    </ul>
   </div><!--end column2-->

   <div class="col-lg-4">

    <h4 class="maphead">PLIKI</h4>
    {% if user.role_council > 1 %}
    <br>
     <button><a class="btn btn-light" href="{% url 'make_element' 'file' %}">NOWY PLIK DO ŚCIĄGNIĘCIA</a></button>
     <br>
     <br>
    {% endif %}
    <ul class="maplist">
    {% for file in files.all %}
     <li><a class="maplink" href="">{{ file.title }}!  </a> <!--Poprawić URL tak, żeby ściągał plik automatycznie -->
      {% if user.role_council > 1 %}
       <button><a class="btn btn-light" href="{% url 'change_element' 'file' file.id %}">EDYTUJ</a></button>
      {% endif %}
     </li>
    {% endfor %}
    </ul>
  </div><!--end column3-->

 </div><!--end row-->
</main><!-- end container -->

{% endblock body2 %}


{% block scripts %}
{% endblock %}
{% block scripts2 %}
{% endblock %}
