<!--Tutaj userzy widzą mapę strony a Rada Studentów ma wejście na dodawanie/edycję jej poszczególnych elementów-->
{% extends 'base.html' %}
{% load staticfiles %}

<!--Schemat:
Nazwa zbioru elementów/linkdozbioru/
[rada-dodaj nowu element tego typu]
skrócony zbiór elementów w punktach(tytuły)/linki/[rada-edytuj/usuń]

kolejny zbiór tego typu etc.
  -->

{% block title %}
<title>{{ items.pagemap }}</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
<!--Null-->
{% endblock aside %}

{% block menu %}
{% endblock menu %}

{% block body2 %}
 <!-- Tu mają się wyświetlać dane z różnych opcji po kliknięciu -->
 <h1>{{ items.pagemap }}</h1>

 <main role="main" class="container">
   <div class="row mapsite no-gutters ">

     <div class="col-lg-4 ">

      <a href="{% url 'allblogs' %}"><h4 class="maphead mapsitepliki">{{ items.news }}</h4></a>
      {% if user.role_council > 1 %}
      <br>
       <a class="btn btn-dark" href="{% url 'make_element' 'blog' %}">{{ items.addblog }}</a>
       <br>
       <br>
      {% endif %}
      <ul class="maplist">
      {% for blog in blogs %}
       <li><a class="maplink" href="{% url 'blog' blog.id %}">{{ blog.title }}!</a>
       {% if user.role_council > 1 %}
        <a class="btn btn-dark" href="{% url 'change_element' 'blog' blog.id %}">{{ items.editme }}</a>
       {% endif %}
       </li>
      {% endfor %}
      </ul>
    </div><!--End column1-->

  <div class="col-lg-4 mapsiteinfo">

   <a href="{% url 'allinfos' %}"><h4 class="maphead mapsiteinfo">{{ items.information }}</h4></a>
   {% if user.role_council > 1 %}
   <br>
    <a class="btn btn-dark" href="{% url 'make_element' 'info' %}">{{ items.addinfo }}</a>
    <br>
    <br>
   {% endif %}
   <ul class="maplist">
    {% for info in infos %}
     <li><a class="maplink" href="{% url 'info' info.id %}">{{ info.title }}!  </a>
     {% if user.role_council > 1 %}
      <a class="btn btn-dark" href="{% url 'change_element' 'info' info.id %}">{{ items.editme }}</a>
     {% endif %}
     </li>
    {% endfor %}
    </ul>
   </div><!--end column2-->

   <div class="col-lg-4">

    <a href="{% url 'allfiles' %}"><h4 class="maphead">{{ items.docs }}</h4></a>
    {% if user.role_council > 1 %}
    <br>
     <a class="btn btn-dark" href="{% url 'make_element' 'file' %}">{{ items.addfile }}</a>
     <br>
     <br>
    {% endif %}
    <ul class="maplist">
    {% for file in files %}
     <li><a class="maplink" href="">{{ file.title }}</a> <!--Poprawić URL tak, żeby ściągał plik automatycznie -->
      {% if user.role_council > 1 %}
       <a class="btn btn-dark" href="{% url 'change_element' 'file' file.id %}">{{ items.editme }}</a>
      {% endif %}
     </li>
    {% endfor %}
    </ul>
  </div><!--end column3-->

 </div><!--end row-->
</main><!-- end container -->

{% endblock body2 %}


{% block scripts %}
{% endblock %}
{% block scripts2 %}
{% endblock %}
