<!--Tutaj userzy widzą mapę strony a Rada Studentów ma wejście na dodawanie/edycję jej poszczególnych elementów-->
{% extends 'base.html' %}
{% load staticfiles %}

<!--Schemat:
Nazwa zbioru elementów/linkdozbioru/
[rada-dodaj nowu element tego typu]
skrócony zbiór elementów w punktach(tytuły)/linki/[rada-edytuj/usuń]

kolejny zbiór tego typu etc.
  -->

{% block title %}
<title>Panel Rady</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
<!--Null-->
{% endblock aside %}

{% block menu %}
{% endblock menu %}

{% block body2 %}
 <!-- Tu mają się wyświetlać dane z różnych opcji po kliknięciu -->
 <p>Tymczasowy przełącznik - widok serwisowy</p>
 <br><br>
 <main role="main" class="container">
   <div class="row">

     <div class="col-lg-4">
       <br>
      <h4>Aktualności</h4>
      {% if user.role_council > 1 %}
       <button><a class="btn" href="{% url 'make_element' 'blog' %}">Nowy wpis w aktualnościach.</a></button>
      {% endif %}
      <ul>
      {% for blog in blogs.all %}
       <li><a href="{% url 'blog' blog.id %}">{{ blog.title }}!</a>
       {% if user.role_council > 1 %}
        <button><a href="{% url 'change_element' 'blog' blog.id %}">Edytuj</a></button>
       {% endif %}
       </li>
      {% endfor %}
      </ul>
    </div><!--End column1-->

  <div class="col-lg-4">
    <br>
   <h4>Informacje</h4>
   {% if user.role_council > 1 %}
    <button><a class="btn" href="{% url 'make_element' 'info' %}">Nowa informacja</a></button>
   {% endif %}
   <ul>
    {% for info in infos.all %}
     <li><a href="{% url 'info' info.id %}">{{ info.title }}!</a>
     {% if user.role_council > 1 %}
      <button><a href="{% url 'change_element' 'info' info.id %}">Edytuj</a></button>
     {% endif %}
     </li>
    {% endfor %}
    </ul>
   </div><!--end column2-->

   <div class="col-lg-4">
    <h4>Pliki</h4>
    {% if user.role_council > 1 %}
     <button><a class="btn" href="{% url 'make_element' 'file' %}">Nowy plik do ściągnięcia</a></button>
    {% endif %}
    <ul>
    {% for file in files.all %}
     <li><a href="">{{ file.title }}!</a> <!--Poprawić URL tak, żeby ściągał plik automatycznie -->
      {% if user.role_council > 1 %}
       <button><a href="{% url 'change_element' 'file' file.id %}">Edytuj</a></button>
      {% endif %}
     </li>
    {% endfor %}
    </ul>
  </div><!--end column3-->

 </div><!--end row-->
</main><!-- end container -->
{% endblock body2 %}


{% block scripts %}
{% endblock %}
{% block scripts2 %}
{% endblock %}
