<!--Tutaj userzy widzą mapę strony a Rada Studentów ma wejście na dodawanie/edycję jej poszczególnych elementów-->
{% extends 'base.html' %}
{% load staticfiles %}

<!--Schemat:
Nazwa zbioru elementów/linkdozbioru/
[rada-dodaj nowu element tego typu]
skrócony zbiór elementów w punktach(tytuły)/linki/[rada-edytuj/usuń]

kolejny zbiór tego typu etc.
  -->

{% block title %}
<title>Panel Rady</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
  {% include 'menus/council_menus.html' %} <!-- Menu z opcjami użytkownika -->
{% endblock menu %}

{% block body %}
 <!-- Tu mają się wyświetlać dane z różnych opcji po kliknięciu -->
 <p>Tymczasowy przełącznik - widok serwisowy</p>
 <form name="BlogSessionForm" method="post">
  {% csrf_token %}
  <input class="hidden" name="element_sent" value="blog">
  <input class="button" name="subbutton" type="submit" value="Dodaj wpis w aktualnościach">
 </form>

 <form name="InfoSessionForm" method="post">
  {% csrf_token %}
  <input class="hidden" name="element_sent" value="info">
  <input class="button" name="subbutton" type="submit" value="Dodaj nową informację">
 </form>

 <form name="FileSessionForm" method="post">
  {% csrf_token %}
  <input class="hidden" name="element_sent" value="file">
  <input class="button" name="subbutton" type="submit" value="Dodaj nowy plik">
 </form>

{% endblock body %}


{% block scripts %}
{% endblock %}
{% block scripts2 %}
{% endblock %}
