<!--Wzornik do tworzenia i edycji Aktulności-->
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
<title>Zarządzanie stroną - roboczy</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
 {% include 'menus/council_menus.html' %} <!-- Menu z opcjami użytkownika -->
{% endblock menu %}

{% block body %}
  <form enctype="multipart/form-data" method="post"> <!-- Do wysyłania plików -->
    {% csrf_token %}
    

    <input id="send" class="button" name="subbutton" type="submit" value="{{ formitem.sendme }}">
  </form>
{% endblock body %}


{% block scripts %}
{% endblock %}

{% block scripts2 %}
{% endblock %}
