<!-- Widok pokazuje zbiorczo wszystkie wnioski o akademik -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Wnioski o akademik - roboczy</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
  {% include 'menus/council_menus.html' %} <!-- Menu z opcjami rady -->
{% endblock menu %}

{% block body %}
   <!-- Tytuł W nagłówku -->
   <h2>Wnioski o Akademik - roboczy</h2>
   <p>
   <form name="AppViewSwitcher" method="post">
     {% csrf_token %}
     <select id="app_view1">
              <option value ="timeapplied" {% if view_filter.0 == "timeapplied" %} selected="selected" {% endif %} >Czas rosnąco</option>
              <option value ="-timeapplied" {% if view_filter.0 == "-timeapplied" %} selected="selected" {% endif %} >Czas malejąco</option>
              <option value ="timeapplied" {% if view_filter.0 == "timeapplied" %} selected="selected" {% endif %} >Czas rosnąco</option>
              <option value ="-timeapplied" {% if view_filter.0 == "-timeapplied" %} selected="selected" {% endif %} >Czas malejąco</option>
     </select>
     <input type="hidden" name="view_filter" id="view_filter1">
     <input type="hidden" name="view_filter" id="view_filter2">
     <input type="hidden" name="view_filter" id="view_filter3">
     <input id="send" class="button" name="sort" type="submit" value="Sortuj - roboczy">
   </form>
   </p>


   <!-- Pierwszy rząd to przyciski sortowania ascendanten lob descendantem -->

   <!-- Tutaj wyświetlają się rzędami wszystkie rzędy posortowane -->

   <!-- Jak skończyłeś to zrób  teraz sortowanie po kilku warunkach w kolejności
     za pomocą **kwargów-->
{% endblock body %}


{% block scripts %}
<script src="{% static "applicationchange.js" %}"></script>
{% endblock %}
{% block scripts2 %}
{% endblock %}
