<!-- Widok pokazuje zbiorczo wszystkie wnioski o akademik -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load xfilters %}

{% block title %}
<title>{{ link.5 }}</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
  {% include 'menus/council_menus.html' %} <!-- Menu z opcjami rady -->
{% endblock menu %}

{% block body %}
   <!-- Tytuł W nagłówku -->
   <p class="maintitle">{{ link.5 }}</p>
   <p>
   <!-- Pierwszy rząd to przyciski sortowania ascendanten lob descendantem -->
   <form name="AppViewSwitcher" method="post" class="form-inline">
     {% csrf_token %}

    {% for item in "0"|rjust:"3" %}
       <select id="app_view{{ forloop.counter0 }}" class="form-control form-control-sm form-inline formula">
           {% with forloop.counter0 as x %}
              {% for userentry in userlist %}
                <option value ="-{{ userentry.basename }}" {% if view_filter|lookupint:x == userentry.basename|negator %} selected="selected" {% endif %} >{{ userentry.realname }} {{ attools.descending }}</option>
                <option value ="{{ userentry.basename }}" {% if view_filter|lookupint:x == userentry.basename %} selected="selected" {% endif %} >{{ userentry.realname }} {{ attools.ascending }}</option>
              {% endfor %}
           {% endwith %}
         </select>
       <input type="hidden" name="view_filter{{ forloop.counter0 }}" id="view_filter{{ forloop.counter0 }}">
    {% endfor %}
   </form>
   <div class="sort butoneo">
   <input id="send" class="btn btn-dark btn-sm" name="sort" type="submit" value="SORTUJ">
   </div>
   </p>

<!-- Tutaj wyświetlają się rzędami wszystkie rzędy posortowane -->

{% for userdetail in userdetails.all %}
<div class="panelo">
 <p class="wnioski">{{ userdetail.date_joined }}
    - <a href="{% url 'changeuser' userdetail.id %}" class="linkname">{{ userdetail.get_full_name }}</a> -

  {% if userdetail.gender == 0 %}
        {{ formitem.other }}
  {% elif userdetail.gender == 1 %}
        {{ formitem.male }}
  {% elif userdetail.gender == 2 %}
        {{ formitem.female }}
  {% endif %}

  {{ userdetail.citizenship }} -
  {% if userdetail.quarter %}
    {{ setter|actionint:userdetail.quarter }}
  {% else %}
    {{ attools.non_assigned }}
  {% endif %}
  </p>
  </div>
{% endfor %}


{% endblock body %}


{% block scripts %}
 <script src="{% static "applicationchange.js" %}"></script>
{% endblock %}
{% block scripts2 %}
{% endblock %}
