{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>{{ link.6 }}</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
 {% include 'menus/user_menus.html' %} <!-- Menu z opcjami użytkownika -->
{% endblock menu %}

{% block body %}
  <!-- Tutaj idą pola do pól ukrtytych. -->
  <p><b>{{ formitem.warning_f }}:</b> <b><a href="https://core2.sspw.pl/login" target="blank">{{ formitem.data_correct }}</a></b></p>
  <p><b>{{ formitem.warning_f }}:</b> {{ formitem.warning_f }}</p>
  <p><b>{{ formitem.warning_f }}:</b> {{ formitem.warning_f }}</p>
  <form enctype="multipart/form-data" method="post"> <!-- Do wysyłania plików -->
    {% csrf_token %}


    <input id="send" class="button" name="subbutton" type="submit" value="{{ formitem.sendme }}">
  </form>
{% endblock body %}


{% block scripts %}
 <!-- Napisz od nowa i zmień ten skrpt, żeby wypełniał pola ukryte.-->
<script src="{% static "quarterchange.js" %}"></script>
{% endblock %}

{% block scripts2 %}
{% endblock %}
