{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>{{ link.6 }}</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
 {% include 'menus/user_menus.html' %} <!-- Menu z opcjami użytkownika -->
{% endblock menu %}

{% block body %}
<form enctype="multipart/form-data" method="post" action="sendform"> <!-- Do wysyłania plików -->



</form>
{% endblock body %}


{% block scripts %}
<script src="{% static "quarterchange.js" %}"></script>
{% endblock %}

{% block scripts2 %}
{% endblock %}
