{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Moje Dane Otako!</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

{% block aside %}
  {% include 'aside_start.html' %}
     {% block body %}
       {% include 'menus/user_menus.html' %} <!-- Menu z opcjami użytkownika -->
     {% endblock body %}
  {% include 'aside_middle.html' %}
    {% block body2 %}
      <p> Tutaj się przedłuża blok body panelu użytkownika</p>
      <p>Imię: {{ udata.first_name }}  Nazwisko: {{ udata.last_name }}</p>
      <p>Email: {{ udata.email }}</p><p> Przydzielony do: {{ setter }}</p>
    {% endblock body2 %}
  {% include 'aside_end.html' %}
{% endblock aside %}



{% block scripts %}
{% endblock %}

{% block scripts2 %}
{% endblock %}
