/*****OGÓLNE********/
.box {
  background-color: #333333;
  padding: 10px;
  border-radius: 25px;
  width: 100%;
}
.head-form {
  font: "Roboto";
  font-size: 24px;
  color: black;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  background-color:#e98328;
  overflow-wrap: normal;
  padding: none;
  text-align: center;
  border-radius: 25px;
}
/*****DANE OSOBOWE userdata1.html***/
.card {
  border-radius: 25px;
  margin-bottom: 0px;
}
.bolder {
  font: "Roboto";
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 5px;
}
.bolder2 {
  font: "Roboto";
  font-weight: lighter;
  color: black;
  background: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 5px;
}
.boldererror {
  font: "Roboto";
  font-weight: bold;
  color: white;
  background: red;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 5px;
}
/****PREFERENCJE sh_preferences.html*******/
 .pref {
   font: "Roboto";
   font-size: 16px;
   color: white;
}
 .badge {
   text-transform: uppercase;
 }

/****Składam preferencje jako student wydziału faculty_data.html*****/
.pref2 {
  font: "Roboto";
  font-size: 16px;
  color: white;
}

.numb {
  width: 150px;
}
/*******Dodatkowe informacje extra_info.html**********/
.extras {
  font: "Roboto";
  font-size: 16px;
  color: white;
}

.plus {
  width: 100%;
}
/********agreements.html*************/
.agree {
  font: "Roboto";
  font-size: 13px;
  color: white;
}

.plus {
  width: 100%;
}
