/*****OGÓLNE********/
.box {
  background-color: #333333;
  padding: 10px;
  border-radius: 0px 0px 0px;
  width: 100%;
}
.card-header {
  font: "Roboto";
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #e98328;
  width:auto;

}
/*****DANE OSOBOWE userdata1.html***/
.cardio {
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 0px;
  background: #333333;
}
.bolder {
  font: "Roboto";
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 5px;
}
.bolder2 {
  font: "Roboto";
  font-weight: lighter;
  color: black;
  background: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 5px;
}
.boldererror {
  font: "Roboto";
  font-weight: bold;
  color: white;
  background: #333333;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 5px;
}
/****PREFERENCJE sh_preferences.html*******/
 .pref {
   font: "Roboto";
   font-size: 16px;
   color: white;
}
 .badge {
   text-transform: uppercase;
 }

/****Składam preferencje jako student wydziału faculty_data.html*****/
.pref2 {
  font: "Roboto";
  font-size: 16px;
  color: white;
}

.numb {
  width: 40%;
}

/*******Dodatkowe informacje extra_info.html**********/
.extras {
  font: "Roboto";
  font-size: 16px;
  color: white;
}

.plus {
  width: 100%;
}
/********agreements.html*************/
.agree {
  font: "Roboto";
  font-size: 13px;
  color: white;
}

.plus {
  width: 100%;
}

/****** formmap.html ******/
.butt {
  font: "Roboto";
  font-size: 16px;
  color: black;
  text-transform: uppercase;
}
