
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,"Ubuntu",Cantarell,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 300;

    line-height: 30px;
    text-align: center;
    background: white;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #000000;
  font-weight: bold;
  text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1 {
  color: black;
  margin-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 56px;
}


h2 {
  color: black;
  margin-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 56px;
}

h3 {
  font-family: 'Ubuntu',sans-serif;
  text-align: left;
  margin-left: 15px;
  font-size: 28px;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

h4 {
  font-family: 'Ubuntu',sans-serif;
  text-align: center;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 900;
  line-height: 40px;
  font-weight: bold;
}


p {
color: rgba(0,0,0,0.6);
font-size: 15px;
font-weight: 400;
text-align: justify;

}


.medium-paragraph { font-size: 18px; line-height: 34px; }

.colored { color: #white; }

::-moz-selection { background: #6eba3c; color: #fff; text-shadow: none; }
::selection { background: #6eba3c; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px; }
.section-description { margin-top: 60px; padding-bottom: 10px; }
.section-description p { margin-top: 20px; padding: 0 120px; }


/***** Divider *****/

.divider-1 { padding: 25px 0 15px 0; }
.divider-1 .line { width: 160px; margin: 0 auto; border-bottom: 1px dashed #ccc; }


/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	padding-top: 0;
	background: white;
	border: 0;
	-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.navbar-no-bg {
	padding-top: 10px; background: #333333 ; /* #e98328  pomarańcza */
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

ul.navbar-nav {
	font-family: 'Ubuntu';
	font-size: 16px;
	color: white;
  height: 75px;
	font-weight: bold;
  margin: 9px 0 0 0px;
  padding-top: center;
  position: relative;
  text-align: justify;
	text-transform: uppercase;
  font-weight: bold;
}

ul.navbar-nav li a { background: none; color: #888; border: 0;}
ul.navbar-nav li a:hover { background: none; color: #aaa; border: 0;}
ul.navbar-nav li a:focus { background: none; color: #aaa; outline: 0; border: 0; height: 40px;}

.navbar-no-bg ul.navbar-nav { color: #fff; }
.navbar-no-bg ul.navbar-nav li a { color: #fff; }
.navbar-no-bg ul.navbar-nav li a:hover { color: #e98328; }
.navbar-no-bg ul.navbar-nav li a:focus { color: #e98328; }

ul.navbar-nav li a.btn-link-3 {
	position: relative;
	display: inline-block;
	margin: center;
	padding: center;
  text-align: center;
	background: none;
  border: 1px solid #ffffff;
	font-family: 'Ubuntu';
	font-size: 16px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: justify;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}
ul.navbar-nav li a.btn-link-3:hover,
ul.navbar-nav li a.btn-link-3:focus,
ul.navbar-nav li a.btn-link-3:active,
ul.navbar-nav li a.btn-link-3:active:focus { outline: 0; color: #e98328;  }

.navbar-brand {
	width: 275px;
  height:73px;
	background: url(https://images.tinypic.pl/i/00987/ife9ep2mrlac.png) left;
	text-indent: -99999px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0; }

.navbar-no-bg .navbar-brand {  float: left; }

.navbar-toggle .icon-bar { background: #555; }


/***** Top content *****/

.top-content { padding: 10px 0 10px 0; }



/***** Features *****/

.features-box { margin-top: 50px; text-align: bottom; }
.features-box .features-box-icon { font-size: 60px; color: #e98328; line-height: 60px; text-align: center; }
.features-box h3 { margin-top: 0; padding: 0 0 10px 0; }
/***** DOCS *****/
.docs{

}

.cliente {

  background-color: #e1e1e1;
  border-width: auto;
    margin-right: 30px;

}
/*----------------------------------------------------------------*/
/***** Footer *****/

footer { padding: 40px 0 45px 0; background: #333; }

.footer-copyright { padding-top: 15px; }
.footer-copyright a { color: #888; border-bottom: 1px dotted #888; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #888; border: 0; }



/***** MEDIA QUERIES *****/


@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {

	.section-description p { padding: 0; }

	.features-box .features-box-icon { font-size: 50px; line-height: 50px; }

}

@media (max-width: 767px) {

	.navbar { padding-top: 0; background: #fff; }
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle { border-color: transparent; }
	ul.navbar-nav li a.btn-link-3 { margin: 10px; }

	.navbar-no-bg {
		-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	}
	.navbar-no-bg .navbar-brand { background-image: url(../img/logo-dark.png); }

	.navbar-no-bg ul.navbar-nav { color: #888; }
	.navbar-no-bg ul.navbar-nav li a { color: #888; }
	.navbar-no-bg ul.navbar-nav li a:hover { color: #aaa; }
	.navbar-no-bg ul.navbar-nav li a:focus { color: #aaa; }

	.navbar-no-bg ul.navbar-nav li a.btn-link-3 { color: #fff; }
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:hover,
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:focus,
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:active,
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:active:focus { color: #fff; }

	/* end navbar */

  row {
    background-color: pink;
  }

	.section-description p { padding: 0; }

	.top-content { padding: 40px 0 60px 0; }

	.features-box { text-align: center; }
	.features-box h3 { margin-top: 5px; padding-top: 10px; }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 36px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	/* logo */
