<!--Formularz zbiorczy dla elementów aplikacji na akcję kwaterunkową. Nie ruszaj raczej. -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>{{ link.3 }}</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
<!--Musi być tutaj JQuery, żeby fragmenty formularza poniżej działały-->
<script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static "formfiller.js" %}"></script>
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
 {% include 'menus/user_menus.html' %} <!-- Menu z opcjami użytkownika -->
{% endblock menu %}

{% block body %}

  <form enctype="multipart/form-data" method="post"> <!-- Do wysyłania plików -->
    {% csrf_token %}
  {% if puzzle.userdata1 %}
    {% include 'forms/elements/userdata1.html' %} <!-- Podstawowe dane Usera -->
  {% endif %}
  {% if puzzle.sh_preferences %}
    {% include 'forms/elements/sh_preferences.html' %} <!-- Preferencje Usera -->
  {% endif %}
  {% if puzzle.userdata2 %}
    {% include 'forms/elements/userdata2.html' %} <!-- Rozszerzone dane Usera -->
  {% endif %}
  {% if puzzle.formmap %}
    {% include 'forms/elements/formmap.html' %} <!-- Mapka do zaznaczania -->
  {% endif %}
  {% if puzzle.faculty_data %}
    {% include 'forms/elements/faculty_data.html' %} <!-- Dane wydziału -->
  {% endif %}
  {% if puzzle.extra_info %}
    {% include 'forms/elements/extra_info.html' %} <!-- Dodatkowe informacje -->
  {% endif %}
  {% if puzzle.agreements1 %}
    {% include 'forms/elements/agreements.html' %} <!-- Zgody -->
  {% endif %}

    <input id="send" class="button btn btn-dark buttonsend" name="subbutton" type="submit" value="{{ formitem.sendme }}">
    
  </form>
{% endblock body %}


{% block scripts %}
{% endblock %}

{% block scripts2 %}
{% endblock %}
