{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>{{ link.3 }}</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
<!--Musi być tutaj JQuery, żeby fragmenty formularza poniżej działały-->
<script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
 {% include 'menus/user_menus.html' %} <!-- Menu z opcjami użytkownika -->
{% endblock menu %}

{% block body %}

  <form enctype="multipart/form-data" method="post"> <!-- Do wysyłania plików -->
    {% csrf_token %}
    {% include 'forms/elements/userdata1.html' %} <!-- Podstawowe dane Usera -->
    {% include 'forms/elements/sh_preferences.html' %} <!-- Preferencje Usera -->
    {% include 'forms/elements/userdata2.html' %} <!-- Rozszerzone dane Usera -->
    {% include 'forms/elements/formmap.html' %} <!-- Mapka do zaznaczania -->
    {% include 'forms/elements/faculty_data.html' %} <!-- Dane wydziału -->
    {% include 'forms/elements/extra_info.html' %} <!-- Dodatkowe informacje -->
    {% include 'forms/elements/agreements.html' %} <!-- Zgody -->

    {{ form.sh_choice1 }}{{ form.sh_choice2 }}{{ form.sh_choice3 }}
    {{ form.duration }}{{ form.if_room_change }}{{ form.faculty }}{{ form.degree }}
    {{ form.semester }}{{ form.spouse_cohabitant }}{{ form.special_case_docs }}
    {{ form.international_placement }}{{ form.mailinglist }}
    {{ form.dataprocessing }}

    <input id="send" class="button" name="subbutton" type="submit" value="{{ formitem.sendme }}">
  </form>
  <!--<button id="send">test<button> Nieaktywny button do testów-->
{% endblock body %}


{% block scripts %}
 <!-- Napisz od nowa i zmień ten skrpt, żeby wypełniał pola ukryte.-->
<script src="{% static "formfiller.js" %}"></script>
{% endblock %}

{% block scripts2 %}
{% endblock %}
