<!--Ten wzornik robi akcję kwaterunkową-->
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>{{ link.5 }}eddddddddd</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
 {% include 'menus/council_menus.html' %} <!-- Menu z opcjami użytkownika -->
{% endblock menu %}

{% block body %}
  <p class="maintitle">TEST</p>

  <div class="cardio">
    <br>
  <form name="PartyForm" method="post" " > <!-- Do wysyłania plików -->
    {% csrf_token %}

    <p class="fonteo">{{ p_item.party_title }}(PL): {{ form2.title_pl }}</p>
    <p class="fonteo">{{ p_item.party_title }}(EN): {{ form2.title_en }}</p>
    <p class="fonteo">{{ p_item.choose_party }}: <select id="Quarterselector" name="Quarter">

                        <option value ="None" disabled="disabled" {% if varlist.0 == 'nowa' %} selected="selected" {% endif %}>
                          {{ formitem.list_select }}:</option>
                       {% for item in setlist %}
                       {% if varlist.0 != 'nowa' %}
                        <option value ="{{ forloop.counter }}"{% if forloop.counter == varlist.1 %} selected="selected" {% endif %}>{{ item }}</option>
                       {% else %}
                        <option value ="{{ forloop.counter }}">{{ item }}</option>
                       {% endif %}
                       {% endfor %}
                      </select></p>

    <p class="fonteo">{{ p_item.time_start }}: {{ form2.date_start }}</p>
    <p class="fonteo">{{ p_item.time_end }}: {{ form2.date_end }}</p>
    <br>
    <div class="bloczek">
    <p class="fonteo2">{{ p_item.comment }}(PL):</p>
    <textarea class="form-control" rows="5" id="comment" label="{{ form2.comment_pl }}"></textarea>
    </div>
    <div class="bloczek">
    <p class="fonteo2">{{ p_item.comment }}(EN):</p>
    <textarea class="form-control" rows="5" id="comment" label="{{ form2.comment_en }}"></textarea>
    </div>
    <div class="bloczek">
    <p class="fonteo2">{{ p_item.announce }}(PL):</p>
    <textarea class="form-control" rows="5" id="comment" label="{{ form2.announcement_pl }}"></textarea>
    </div>
    <div class="bloczek">
    <p class="fonteo2">{{ p_item.announce }}(EN):</p>
    <textarea class="form-control" rows="5" id="comment" label="{{ form2.announcement_en }}"></textarea>
    </div>
    <!-- Tutaj trzeba zrobić ładną tabelkę że w lewej tabeli są elementy formularza
    a w prawej są checkboxy które rada sobie zaznacza jako opcje widoczne w formularzu -->

      <br><p class="fonteo2"> *{{ p_item.tick_form }}</p>
    <p>{% include 'forms/elements/userdata1.html' %} {{ form2.userdata1 }}</p> <!-- Podstawowe dane Usera -->
    <p>{% include 'forms/elements/sh_preferences.html' %} {{ form2.sh_preferences }}</p> <!-- Preferencje Usera -->
    <p>{% include 'forms/elements/userdata2.html' %} {{ form2.userdata2 }}</p> <!-- Rozszerzone dane Usera -->
    <p>{% include 'forms/elements/formmap.html' %} {{ form2.formmap }}</p> <!-- Mapka do zaznaczania -->
    <p>{% include 'forms/elements/faculty_data.html' %} {{ form2.faculty_data }}</p> <!-- Dane wydziału -->
    <p>{% include 'forms/elements/extra_info.html' %} {{ form2.extra_info }}</p> <!-- Dodatkowe informacje -->
    <p>{% include 'forms/elements/agreements.html' %} {{ form2.agreements1 }}</p><!-- Zgody -->
  <br>
 {{ form2.quarter }}
    <input id="send" class="button btn btn-dark butoneo fonteo" name="subbutton" type="submit" value="{{ formitem.sendme }}" class="btn btn-dark">
  </form>
  <br>
  </div>
  <!--<button id="send">test<button> Nieaktywny button do testów-->
{% endblock body %}

{% block scripts %}
<script src="{% static "quarterchange.js" %}"></script>
{% include 'forms/widgets/date_period.html' %}
{% endblock %}

{% block scripts2 %}
{% endblock %}
