{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>{{ link.2 }}</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
 {% include 'menus/council_menus.html' %} <!-- Menu z opcjami użytkownika -->
{% endblock menu %}

{% block body %}

  <form name="PartyForm" method="post"> <!-- Do wysyłania plików -->
    {% csrf_token %}
    <p>Tytuł akcji PL: {{ form2.title }}</p>
    <p>Tytuł akcji EN: {{ form2.title_en }}</p>
    <p>Wybierz akcję: <select id="Quarterselector" name="Quarter">
                       <option value ="None" disabled>{{ formitem.list_select }}:</option>
                       {% for item in setlist %}
                        <option value ="{{ forloop.counter }}">{{ item }}</option>
                       {% endfor %}
                      </select></p>
    <p>Czas Rozpoczęcia: {{ form2.date_start }}</p>
    <p>Czas Zakończenia {{ form2.date_end }}</p>
    <p>Komentarz PL: {{ form2.comment }}</p>
    <p>Komentarz EN: {{ form2.comment_en }}</p>
    <p>Ogłoszenie PL: {{ form2.announcement }}</p>
    <p>Ogłoszenie EN: {{ form2.announcement_en }}</p>
    <!-- Tutaj trzeba zrobić ładną tabelkę że w lewej tabeli są elementy formularza
    a w prawej są checkboxy które rada sobie zaznacza jako opcje widoczne w formularzu -->
    <p>Zaznacz wybrane opcje formularza zaznaczając krzyżyk przy wybranej opcji.</p>
    <p>{% include 'forms/elements/userdata1.html' %} {{ form2.userdata1 }}</p> <!-- Podstawowe dane Usera -->
    <p>{% include 'forms/elements/sh_preferences.html' %} {{ form2.sh_preferences }}</p> <!-- Preferencje Usera -->
    <p>{% include 'forms/elements/userdata2.html' %} {{ form2.userdata2 }}</p> <!-- Rozszerzone dane Usera -->
    <p>{% include 'forms/elements/formmap.html' %} {{ form2.formmap }}</p> <!-- Mapka do zaznaczania -->
    <p>{% include 'forms/elements/faculty_data.html' %} {{ form2.faculty_data }}</p> <!-- Dane wydziału -->
    <p>{% include 'forms/elements/extra_info.html' %} {{ form2.extra_info }}</p> <!-- Dodatkowe informacje -->
    <p>{% include 'forms/elements/agreements.html' %} {{ form2.agreements1 }}</p><!-- Zgody -->

    {{ form2.quarter }}
    <input id="send" class="button" name="subbutton" type="submit" value="{{ formitem.sendme }}">
  </form>
  <!--<button id="send">test<button> Nieaktywny button do testów-->
{% endblock body %}

{% block scripts %}
<script src="{% static "quarterchange.js" %}"></script>
{% include 'forms/widgets/date_period.html' %}
{% endblock %}

{% block scripts2 %}
{% endblock %}
