<!-- Widok akcji kwaterunkowych. Przewodniczący powinien mieć możliwość ich edytowania -->
<!-- Goły panel rady. Na początku nic się nie wyświetla. A mogłoby -->
{% extends 'base.html' %}
{% load xfilters %} <!-- Ładuje zaawansowane filtry logiczne -->
{% load staticfiles %}

{% block title %}
<title>{{ p_item.housing_party }}</title>

{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
{% if user.role_council > 1 %}
 {% include 'menus/council_menus.html' %} <!-- Menu z opcjami rady -->
{% else %}
 {% include 'menus/user_menus.html' %} <!-- Menu z opcjami użytkownika -->
{% endif %}
{% endblock menu %}

{% block body %}
<p class="maintitle">{{ p_item.housing_party }}</p>
<br>
<form name="PartyViewChangeForm" method="post" class="form-inline form-control-sm">
  {% csrf_token %}
  <select id="party_view" class="form-control form-control-sm form-inline ">
            {% if user.role_council > 1 %}
             <option value ="1" {% if view_filter == "1" %} selected="selected" {% endif %} >{{ p_item.all_parties }}</option>
            {% endif %}
             <option value ="2" {% if view_filter == "2" %} selected="selected" {% endif %} >{{ p_item.active_parties }}</option>
            {% if user.role_council > 1 %}
             <option value ="3" {% if view_filter == "3" %} selected="selected" {% endif %} >{{ p_item.past_parties }}</option>
            {% endif %}
             <option value ="4" {% if view_filter == "4" %} selected="selected" {% endif %} >{{ p_item.future_parties }}</option>
  </select>
  <input type="hidden" name="view_filter" id="view_filter">
  <button id="send" class="btb btn-dark allbutton" name="subbutton" type="submit" value="{{ p_item.new_party_view }}">{{ p_item.new_party_view }}</button>

</form>
</p>
<br><br>
  {% if user.role_council == 1 %}
  <p class="alltext bg-secondary">{{ p_item.userinfo }}:</p>
  <br>
  {% endif %}
  {% for party in parties %}
    <p class="maintitle">{{ party.title }}</p>
    <div class="allparty"
    <p class="alltext bg-secondary"><b>{{ formitem.action }}:</b> {{ setter|action:party.quarter }}</p>
    <!-- Guzik aplikowania na aktywną akcję kwaterunkową -->
    {% if view_filter == "2" %}
      <form name="SpontaneousApply" method="post">
        {% csrf_token %}
        <input type="hidden" name="quarter" value="{{ party.quarter }}">
        <input class="button btb btn-dark allbutton" name="apply_spontaneously" type="submit" value="{{ p_item.change_and_apply }}">
      </form>
      {% endif %}
      <p class="alltext"><b>{{ p_item.p_from }}:</b> {{ party.date_start }} <br><b>{{ p_item.p_to }}:</b>{{ party.date_end }}</p>
      <p class="alltext"><b>{{ p_item.announce }}:</b> {{ party.announcement }} </p>
     {% if user.role_council > 1 %}
      <p class="alltext"><b>{{ p_item.comment }}:</b> {{ party.comment }} </p>
      <p class="alltext"><b>{{ p_item.owner }}:</b> {{ party.owner.first_name }} {{ party.owner.last_name }} </p>
     {% endif %}
    {% if user.role_council > 2 %}
    <form name="ChangePartyForm" method="post">
      {% csrf_token %}
      <input type="hidden" name="partyid" value="{{ party.id }}">
      <input class="button btb btn-dark allbutton" name="changeparty" type="submit" value="{{ p_item.changeme }}">
    </form>
    {% endif %}
    <br>
    </div>
    <br>
  {% endfor %}

{% endblock body %}


{% block scripts %}
<script src="{% static "actionchange.js" %}"></script>
{% endblock %}
{% block scripts2 %}
{% endblock %}
