<!-- Zgody do celów demonstracyjnych. Potem do zmiany na bardziej modularne. -->
<h4> {{ formitem.statement }} </h4>
<p>
  <select id="international_placement">
             <option value ="None" disabled>{{ formitem.list_select }}:</option>
             <option value ="0">{{ formitem.disagree }}</option>
             <option value ="1">{{ formitem.agree }}</option>
    </select>
    {{ formitem.agree_international }}
</p>
<p>
  <input id="mailinglist" class="css-checkbox" type="checkbox">
  {{ formitem.mail_join }}
</p>
<p>
  <input id="dataprocessing" class="css-checkbox" type="checkbox">
  {{ formitem.data_processing }}
</p>
<br>
