<!-- Zgody do celów demonstracyjnych. Potem do zmiany na bardziej modularne. -->
<h4> {{ formitem.statement }} </h4>
<p>
  <select required id="international_placement">
             <option value ="None" disabled="disabled" selected="selected">{{ formitem.list_select }}:</option>
             <option value ="0">{{ formitem.disagree }}</option>
             <option value ="1">{{ formitem.agree }}</option>
    </select>
    {{ formitem.agree_international }}
</p>
<p>
  <input id="mailinglist" type="checkbox">
  {{ formitem.mail_join }}
</p>
<p>
  <input required id="dataprocessing" type="checkbox">
  {{ formitem.data_processing }}
</p>
<br>
