<!-- Zgody do celów demonstracyjnych. Potem do zmiany na bardziej modularne. -->
{% load staticfiles %}
<div class="card">
<div class="card-header">{{ formitem.statement }}</div>
<div class="card-body">
<p class="agree">
  <select {% if service %} required {% endif %}  id="international_placement" class="form-control form-control-sm">
             <option value ="None" disabled="disabled" selected="selected">{{ formitem.list_select }}:</option>
             <option value ="0">{{ formitem.disagree }}</option>
             <option value ="1">{{ formitem.agree }}</option>
    </select>
    {{ formitem.agree_international }}
</p>
<p class="agree">
  <input id="mailinglist" type="checkbox">
  {{ formitem.mail_join }}
</p>
<p class="agree">
  <input {% if service %} required {% endif %} id="dataprocessing" type="checkbox">
  {{ formitem.data_processing }}
</p>
</div>
</div>
<br>

<!--Ukryte pola formularza-->
{{ form.international_placement }}{{ form.mailinglist }}{{ form.dataprocessing }}
<!--Skrypt zapełniający pola-->
<script>
  $(document).ready(function()
  {
    $('#send').click(function()
   {
     formfill("international_placement", "id_international_placement")
     formcheckfill("mailinglist", "id_mailinglist")
     formcheckfill("dataprocessing", "id_dataprocessing")
  });
});
</script>
