<!-- Dodatkowe dane: Czy chce mieszkać z małżonkiem i czy jest niepełnosprawny/a -->
<!-- Domyślnie: Nie składa -->
<div class="card cardio">
<div class="card-header"> {{ formitem.additional_info }}</div>
<div class="card-body">
<p class="extras"> {{ formitem.spouse_cohabitant }}:
  <select {% if service %} required {% endif %} id="spouse_cohabitant" class="form-control">
             <option value ="None" disabled="disabled" selected="selected">{{ formitem.list_select }}:</option>
           {% for item in spouselist %}
              <option value ="{{ forloop.counter }}">{{ item }}</option>
           {% endfor %}
    </select>
</p>
<p class="extras"> {{ formitem.special_case_docs }}:
    <select {% if service %} required {% endif %} id="special_case_docs" class="form-control">
             <option value ="None" disabled="disabled" selected="selected">{{ formitem.list_select }}:</option>
           {% for item in scaselist %}
              <option value ="{{ forloop.counter }}">{{ item }}</option>
           {% endfor %}
    </select>
</p>
</div>
</div>

<br>

<!--Ukryte pola formularza-->
{{ form.spouse_cohabitant }}{{ form.special_case_docs }}
<!--Skrypt zapełniający pola-->
<script>
  $(document).ready(function()
  {
    $('#send').click(function()
   {
     formfill("spouse_cohabitant", "id_spouse_cohabitant")
     formfill("special_case_docs", "id_special_case_docs")
  });
});
</script>
