<!-- Dane toku studiów - tylko jeśli student. Domyślnie: nie dotyczy. -->
{% load staticfiles %}
<div class="container">
<div class="row justify-content-md-center box">
<div class="col-md-auto box">
<p class="head-form"> {{ formitem.pref_as_stud }}: </p>
<p class="pref2"> {{ formitem.faculty }}:
    <select {% if service %} required {% endif %} id="faculty" class="form-control">
             <option value ="None" disabled="disabled" selected="selected">{{ formitem.list_select }}:</option>
           {% for item in facultylist %}
              <option value ="{{ forloop.counter }}">{{ item }}</option>
           {% endfor %}
    </select>
</p>
<p class="pref2"> {{ formitem.degree }}:
    <select {% if service %} required {% endif %} id="degree" class="form-control">
             <option value ="None" disabled="disabled" selected="selected">{{ formitem.list_select }}:</option>
           {% for item in degreelist %}
              <option value ="{{ forloop.counter }}">{{ item }}</option>
           {% endfor %}
    </select>
</p>
<p class="pref2"> {{ formitem.deangroup }}: {{ form.deangroup }} </p>
<p class="pref2"> {{ formitem.semester }}:
  <select {% if service %} required {% endif %} id="semester" class="form-control numb">
           <option value ="None" disabled="disabled" selected="selected">{{ formitem.list_select }}:</option>
           <option value ="0">-</option>
         {% for item in "1"|rjust:"12"  %}
            <option value ="{{ forloop.counter }}">{{ forloop.counter }}</option>
         {% endfor %}
  </select>
</p>
{% if udata.album %}
<p class="pref2"> {{ formitem.album }} {{ udata.album }}</p>
{% endif %}

</div>
</div>
<div>

<!--Ukryte pola formularza-->
{{ form.faculty }}{{ form.degree }}{{ form.semester }}
<!--Skrypt zapełniający pola-->
<script>
  $(document).ready(function()
  {
    $('#send').click(function()
   {
     formfill("faculty", "id_faculty")
     formfill("degree", "id_degree")
     formfill("semester", "id_semester")
  });
});
</script>
