<div class="card">
<div class="card-header">{{ formitem.preferences }}</div>
<div class="card-body">
<p class="pref"> {{ formitem.match_prefs }} <a href="#" class="badge badge-light">{{ formitem.see_map }}</a></p>
<p class="pref">
   1:
    <select {% if service %} required {% endif %} id="sh_choice1" >
             <option value ="None" disabled="disabled" selected="selected">{{ formitem.list_select }}:</option>
           {% for item in houselist %}
              <option value ="{{ forloop.counter }}">{{ item }}</option>
           {% endfor %}
    </select>
   2:
    <select {% if service %} required {% endif %} id="sh_choice2">
             <option value ="None" disabled="disabled" selected="selected">{{ formitem.list_select }}:</option>
           {% for item in houselist %}
              <option value ="{{ forloop.counter }}">{{ item }}</option>
           {% endfor %}
    </select>
   3:
    <select {% if service %} required {% endif %} id="sh_choice3">
             <option value ="None" disabled="disabled" selected="selected">{{ formitem.list_select }}:</option>
           {% for item in houselist %}
              <option value ="{{ forloop.counter }}">{{ item }}</option>
           {% endfor %}
    </select>
</p>
<p class="pref">
    {{ formitem.i_ask }} :
    <select {% if service %} required {% endif %} id="if_room_change" class="form-control">
             <option value ="None" disabled="disabled" selected="selected">{{ formitem.list_select }}:</option>
           {% for item in staylist %}
              <option value ="{{ forloop.counter }}">{{ item }}</option>
           {% endfor %}
    </select>
</p>
<p class="pref">
    {{ formitem.time_in_sh }} :
    <select {% if service %} required {% endif %} id="duration" class="form-control">
             <option value ="None" disabled="disabled" selected="selected">{{ formitem.list_select }}:</option>
           {% for item in periodlist %}
              <option value ="{{ forloop.counter }}">{{ item }}</option>
           {% endfor %}
    </select>
</p>
</div>
</div>
<br>
<!--Ukryte pola formularza-->
{{ form.sh_choice1 }}{{ form.sh_choice2 }}{{ form.sh_choice3 }}
{{ form.duration }}{{ form.if_room_change }}
<!--Skrypt zapełniający pola-->
<script>
  $(document).ready(function()
  {
    $('#send').click(function()
   {
    formfill("sh_choice1", "id_sh_choice1")
    formfill("sh_choice2", "id_sh_choice2")
    formfill("sh_choice3", "id_sh_choice3")
    formfill("if_room_change", "id_if_room_change")
    formfill("duration", "id_duration")
  });
});
</script>
