<!-- Wyświetla podstawowe aktualne dane usera. Do formularza i innych miejsc. -->
<div class="box">
<h4 class="head-form">{{ formitem.personal_data }} </h4>
<p class ="userdata"><b class="bolder">{{ formitem.name }}</b>: {{ udata.first_name }}  <b class="bolder">{{ formitem.surname }}:</b> {{ udata.last_name }}</p>
<p class ="userdata"><b class="bolder">{{ formitem.citizenship }}:</b> {{ udata.citizenship }}
<b class="bolder">{{ formitem.gender }}</b>:
  {% if udata.gender == 0 %}
    {{ formitem.other }}
 {% elif udata.gender == 1 %}
    {{ formitem.male }}
 {% elif udata.gender == 2 %}
    {{ formitem.female }}
 {% endif %}
</p>
{% if udata.dowod %}
  <p class ="userdata"><b class="bolder">{{ formitem.dowod }}:</b> {{ udata.dowod }}</p>
{% elif udata.passport %}
  <p class ="userdata"><b class="bolder">{{ formitem.passport }}:</b> {{ udata.passport }}</p>
{% endif %}

<p class ="userdata"><b class="bolder">{{ formitem.defaul_t }} {{ formitem.email }}:</b> {{ udata.email }} <b class="bolder">{{ formitem.defaul_t }} {{ formitem.telephone }}</b>:
{% if udata.telephone %}
  {{ udata.telephone }}</p>
{% else %}
  <b class="bolder">{{ formitem.tel_mandatory }}!!</b>
{% endif %}
<p class ="userdata"><b class="bolder">{{ formitem.warning_f }}:<a href="https://core2.sspw.pl/login" target="blank">{{ formitem.data_correct }}</a></b></p>
<br>
</div>
